
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<figure class="banner bg-img bg-primary bg-inverse" data-height="500" style="background-image: url(assets/img/misc/frontend_header_bg.png)">
    <figcaption class="banner-caption text-center">
        <div class="container">
            <div class="row vcenter-md">
                <div class="col-md-8 col-md-offset-2">
                    <p class="lead">FİTECH</p>
                        <h1 class="display-2 m-b">Beyaz Eşya Teknik Servisinde Lider</h1>
                 </div>
            </div>
            <!-- .row -->
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <p class="lead">Sürekli kendimizi yenileyerek müşterilerimize her zaman daha kaliteli hizmet verme çabası içinde olup müşteri memnuniyetini de önemsemekteyiz.</p>
                </div>
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </figcaption>
</figure>
<div class="section bg-white p-y-xl">
    <div class="container">
        <div class="row m-b-lg text-center">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="display-2 m-t-0">Geleceğe şekil vermeye devam  ediyoruz.</h1>
                <p class="lead">Hizmet kalitesi ve hızını her geçen gün arttıran firmamız İstanbul geneline hizmet vermeye devam etmektedir.Güven ve mutlu müşteri felsefemiz ile sizlere kaliteli hizmet vermenin gururunu yaşamaktayız.</p>
            </div>
        </div>
        <!-- .row -->
        <div class="row vcenter-md">
            <div class="col-md-6 hidden-sm hidden-xs">
                <img class="img-responsive img-full" src="~/image/bulasik.jpg">
            </div>
            <!-- .col-md-6 -->

            <div class="col-md-4 col-md-offset-1">
                <ol class="list-numbers white">
                    <li>
                        <p class="h4">Hızlı</p>
                        <p class="m-b-lg">Uzman Bosch Servisi sizi ‘‘yetkili’’ ibaresinin bulunduğu özel araç ve kıyafetleri ile ziyaret eder.</p>
                    </li>
                    <li>
                        <p class="h4">Güvenilir</p>
                        <p class="m-b-lg">Teknisyenlerimizin Bosch Yetkili Servis çalışanı olduğunu gösteren kimlik kartları mevcuttur.</p>
                    </li>
                    <li>
                        <p class="h4">Etkili</p>
                        <p class="m-b-lg">Sadece Uzman Bosch Servisi, ziyareti sonunda size işlem bilgisinin yer aldığı ve ‘‘yetkili’’ ibaresinin bulunduğu bir fiş teslim eder.</p>
                    </li>
                </ol>
            </div>
            <!-- .col-md-4-->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</div>
