
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<figure class="banner bg-img bg-app bg-inverse" data-height="500" style="background-image: url(assets/img/misc/frontend_header_bg.png)">
    <figcaption class="banner-caption text-center">
        <div class="container">
            <div class="row vcenter-md">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-tag">We are AppUI</div>
                    <h1 class="display-2 m-b">We Design and Develop for Mobile and Intranets</h1>
                </div>
            </div>
            <!-- .row -->
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <p class="lead">Munere dignissim euripidis nam cu. Nam semper dolorem honestatis cu, adhuc doctus mei ea. Mei recusabo consectetuer in.</p>
                </div>
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </figcaption>
</figure>
<div class="section bg-white p-y-xl">
    <div class="container">
        <div class="row m-b-lg text-center">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="display-2 m-t-0">We are shaping the future. Today.</h1>
                <p class="lead">Tollit ancillae ne, eu eos laudem labore utamur, et nec alienum accusata erroribus. An mei debet dicam, ubique sensibus necessitatibus et, mea dolorum nominavi.</p>
            </div>
        </div>
        <!-- .row -->
        <div class="row vcenter-md">
            <div class="col-md-6 hidden-sm hidden-xs">
                <img class="img-responsive img-full" src="~/image/bulasik.jpg">
            </div>
            <!-- .col-md-6 -->

            <div class="col-md-4 col-md-offset-1">
                <ol class="list-numbers white">
                    <li>
                        <p class="h4">Real-time sharing</p>
                        <p class="m-b-lg">Uzman Bosch Servisi sizi ‘‘yetkili’’ ibaresinin bulunduğu özel araç ve kıyafetleri ile ziyaret eder.</p>
                    </li>
                    <li>
                        <p class="h4">Share with anyone</p>
                        <p class="m-b-lg">Teknisyenlerimizin Bosch Yetkili Servis çalışanı olduğunu gösteren kimlik kartları mevcuttur.</p>
                    </li>
                    <li>
                        <p class="h4">Secure enviroment</p>
                        <p class="m-b-lg">Sadece Uzman Bosch Servisi, ziyareti sonunda size işlem bilgisinin yer aldığı ve ‘‘yetkili’’ ibaresinin bulunduğu bir fiş teslim eder.</p>
                    </li>
                </ol>
            </div>
            <!-- .col-md-4-->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</div>
<div class="section p-y-xl">
    <div class="container">
        <div class="row vcenter-md">
            <div class="col-md-4">
                <ol class="list-numbers">
                    <li>
                        <p class="h4">Easily track</p>
                        <p class="m-b-lg">
                            Uzman yetkili servis randevusu için 444 6 333 no’lu FİTECH Çağrı merkezini arayabilir veya online servis kaydı oluşturabilirsiniz.
                        </p>
                    </li>
                    <li>
                        <p class="h4">Edit and share files</p>
                        <p class="m-b-lg">Online servis kaydı ile kolay ve hızlı uzman servis randevusu alın, istediğiniz gün ve saat aralığında uzman servisimiz sizi ziyaret etsin.</p>
                    </li>
                    <li>
                        <p class="h4">Adopt without any obstacles</p>
                        <p class="m-b-lg">Garanti sürenizi 7 yıla uzatmak ve ek garanti hizmetimiz hakkında bilgi almak için 444 6 333 no’lu FİTECH Çağrı Merkezi’ni arayabilirsiniz.</p>
                    </li>
                </ol>
            </div>
            <!-- .col-md-5 -->

            <div class="col-md-5 col-md-offset-3 hidden-sm hidden-xs">
                <img class="img-responsive img-full" width="800" src="~/image/camasir.jpg">
            </div>
            <!-- .col-md-5 -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</div>