
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<main class="app-layout-content">

    <!-- Page header -->
    <div class="page-header bg-primary bg-inverse">
        <div class="container">
            <div class="p-y-lg text-center">
                <h1 class="display-2">Bize Ulaşın</h1>
                <p class="text-muted">Bizimle İletişime Geçmek & Servis Talebi Oluşturmak İçin </p>
            </div>
        </div>
    </div>
    <!-- End page header -->

    <div class="page-content bg-white">
       
        <!-- .container -->
    </div>
    <!-- .section -->
  
</main>
