
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<main class="app-layout-content">

    <!-- Page header -->
    <div class="page-header bg-primary bg-inverse">
        <div class="container">
            <div class="p-y-lg text-center">
                <h1 class="display-2">Bize Ulaşın</h1>
                <p class="text-muted">Bizimle İletişime Geçmek & Servis Talebi Oluşturmak İçin </p>
            </div>
        </div>
    </div>
    <!-- End page header -->

    <div class="page-content bg-white">
        <div class="row">
            <!-- Company Info -->
            <div class="col-xs-4 col-xs-offset-1 ">
                <p class="h3">FİTECH</p>
                <address>
                    Kuloğlu Mh., Barbaros Blv. Yıldız İş Hanı No:9<br>
                    34353<br>
                    Beşiktaş/İstanbul<br>                   
                </address>
            </div>
            <!-- End Company Info -->
            <!-- Client Info -->
            <div class="col-xs-4 col-xs-offset-1 ">
                <p class="h3">FİTECH</p>
                <address>
                    Mail:musteri.hizmetleri@fitech.com<br>     
                    Telefon <i class="ion-ios-telephone-outline"></i> (212) 212-2121
                </address>
            </div>
            <!-- End Client Info -->
        </div>
        <!-- .container -->
    </div>
    <!-- .section -->
  
</main>
