
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@section top{
    <link rel="stylesheet" href="~/assets/js/plugins/slick/slick.min.css" />
    <link rel="stylesheet" href="~/assets/js/plugins/slick/slick-theme.min.css" />
    <link href="~/assets/css/lightbox.min.css" rel="stylesheet" />


}


<div class="section">
    <div class="container-fluid p-y-md">
        <!-- Image Sliders -->

        <div>

            <h3>@Html.Raw(TempData["Message"]) </h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- Slider Autoplay -->
                <div class="card">
                    <div class="card-header">
                        <h4>Ürünlerimiz</h4>
                    </div>
                    <div class="card-block p-a-0">
                        <!-- Slider with autoplay -->
                        <div class="js-slider" data-slider-dots="true" data-slider-autoplay="true" data-slider-autoplay-speed="3000">
                            <div>
                                <img class="img-responsive " rel="lightbox" src="~/Image/buzdolabi2000.png" height="500" width="500" />
                            </div>
                         
                            <div>
                                <img class="img-responsive img-rounded" rel="lightbox" src="~/Image/camasir.png" height="500" width="500" />
                            </div>
                            <div>
                                <img class="img-responsive img-rounded" rel="lightbox" src="~/Image/bulasik.jpg" height="500" width="500" />
                            </div>
                        </div>
                        <!-- End Slider with autoplay -->
                    </div>
                </div>
                <!-- End Slider Autoplay -->
            </div>
            <div class="col-md-6">
                <!-- Slider Autoplay -->
                <div class="card">
                    <div class="card-header">
                        <h4>Ürünlerimiz</h4>
                    </div>
                    <div class="card-block p-a-0">
                        <!-- Slider with autoplay -->
                        <div class="js-slider" data-slider-dots="true" data-slider-autoplay="true" data-slider-autoplay-speed="3000">
                            <div>
                                <img class="img-responsive " src="~/Image/buzdolabi2000.png" height="500" width="500" />
                            </div>
                            <div>
                                <img class="img-responsive img-rounded" src="~/Image/camasir.png" height="500" width="500" />
                            </div>
                            <div>
                                <img class="img-responsive img-rounded" src="~/Image/bulasik.jpg" height="500" width="500" />
                            </div>
                        </div>
                        <!-- End Slider with autoplay -->
                    </div>
                </div>
                <!-- End Slider Autoplay -->
            </div>
        </div>
        <!-- .row -->
    </div>
    <!-- .container-fluid -->
</div>


@section bottom
{
    <!-- Page Plugins -->
    <script src="~/assets/js/plugins/slick/slick.min.js"></script>
    <script src="~/assets/js/lightbox-plus-jquery.min.js"></script>
    <script src="~/assets/js/lightbox.js"></script>
    <!-- Page JS Code -->
    <script>
        $(function () {
            // Init page helpers (Slick Slider plugin)
            App.initHelpers('slick');
        });
    </script>
}
