
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@section top{
    <link rel="stylesheet" href="~/assets/js/plugins/slick/slick.min.css" />
    <link rel="stylesheet" href="~/assets/js/plugins/slick/slick-theme.min.css" />

  
}


<div class="section">
    <div class="container-fluid p-y-md">
        <!-- Image Sliders -->
        
        <div class="row">
            <div class="col-md-12">
                <!-- Slider Autoplay -->
                <div class="card">
                    <div class="card-header">
                        <h4>Ürünlerimiz</h4>
                    </div>
                    <div class="card-block p-a-0">
                        <!-- Slider with autoplay -->
                        <div class="js-slider" data-slider-dots="true" data-slider-autoplay="true" data-slider-autoplay-speed="3000">
                            <div>
                                <img class="img-responsive" src="~/Image/buzdolabi2000.png" alt="" />
                            </div>
                            <div>
                                <img class="img-responsive" src="~/Image/camasir.png" alt="" />
                            </div>
                            <div>
                                <img class="img-responsive" src="~/Image/bulasik.jpg" alt="" />
                            </div>
                        </div>
                        <!-- End Slider with autoplay -->
                    </div>
                </div>
                <!-- End Slider Autoplay -->
            </div>
        </div>
        <!-- .row -->
    </div>
    <!-- .container-fluid -->
</div>


@section bottom
{
    <!-- Page Plugins -->
    <script src="~/assets/js/plugins/slick/slick.min.js"></script>

    <!-- Page JS Code -->
    <script>
        $(function () {
            // Init page helpers (Slick Slider plugin)
            App.initHelpers('slick');
        });
    </script>
}
