
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- Page header -->
<div class="page-header bg-app bg-inverse">
    <div class="container">
        <!-- Section Content -->
        <div class="p-y-lg text-center">
            <h1 class="display-2">Ekibimizi Tanıyalım</h1>
            <p class="text-muted">Efsane ekibimizle tanışın.</p>
        </div>
        <!-- End Section Content -->
    </div>
</div>
<!-- End Page header -->
<!-- Team -->
<div class="p-y-lg bg-white">
    <div class="container">
        <p class="lead text-center">
           Genç, dinamik, çalışkan ve çiğ etle beslenen kadrosuyla ekibimiz hizmete hazırdır.
        </p>

        <!-- Section Content -->
        <div class="row p-t-lg p-b-xl">
            <div class="col-md-3">
                <div class="p-x-md text-center">
                    <div class="p-x">                      
                        <a href="~/Image/ismo.JPG" rel="lightbox"><img class="img-responsive img-rounded" src="~/Image/ismo.JPG" /> </a>
                    </div>
                    <h4>İsmail Çadır <br> <small class="text-muted">HA CEO</small></h4>
                    <p>Uzmanlık alanı parmak almak.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-x-md text-center">
                    <div class="p-x">                        
                        <a href="~/Image/Furki.JPG" rel="lightbox"><img class="img-responsive img-rounded"  src="~/Image/Furki.JPG" /> </a>
                    </div>
                    <h4>Furkan Kılıç <br> <small class="text-muted">Genel Müdür</small></h4>
                    <p>Hamsi sever</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-x-md text-center">
                    <div class="p-x">                     
                <a href="~/Image/IMG_E4591.JPG" rel="lightbox"><img class="img-responsive img-rounded" src="~/Image/IMG_E4591.JPG" /> </a>
                    </div>                    
                    <h4>Mücahit Seba <br> <small class="text-muted">Operatör</small></h4>
                    <p>calıs lan.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-x-md text-center">
                    <div class="p-x">
                        <a href="~/Image/fatih.JPG" rel="lightbox"><img class="img-responsive img-rounded" src="~/Image/fatih.JPG" /> </a>                   
                    </div>                   
                    <h4>Fatih Hançer <br> <small class="text-muted">Operatör</small></h4>
                    <p>Boş yapmayı sever.</p>
                </div>
            </div>
        </div>
        <div class="row p-t-lg p-b-xl">

            <div class="col-md-3">
                <div class="p-x-md text-center">
                    <div class="p-x">                        
                        <a href="~/Image/IMG_E4589.JPG" rel="lightbox"><img class="img-responsive img-rounded" src="~/Image/IMG_E4589.JPG" /> </a>
                    </div>
                    <h4>Kubilay Yazı <br> <small class="text-muted">Teknisyen</small></h4>
                    <p>Makine parçalarıyla besleniyor.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-x-md text-center">
                    <div class="p-x">
                        <a href="~/Image/IMG_E4590.JPG" rel="lightbox"><img class="img-responsive img-rounded"  src="~/Image/IMG_E4590.JPG" /> </a>
                    </div>
                    <h4>Oğuzhan Dereci <br> <small class="text-muted">Teknisyen</small></h4>
                    <p>Moruk her işi yapar.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-x-md text-center">
                    <div class="p-x">
                        <a href="~/Image/Bugra.JPG" rel="lightbox"><img class="img-responsive img-rounded" src="~/Image/Bugra.JPG" /> </a>
                    </div>
                    <h4>Buğra Kırman <br> <small class="text-muted">Tamirci Çırağı</small></h4>
                    <p>Son Slither.io bükücü</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-x-md text-center">
                    <div class="p-x">
                        <a href="~/Image/Aykut.JPG" rel="lightbox"><img class="img-responsive img-rounded" src="~/Image/Aykut.JPG" /> </a>
                    </div>
                    <h4>Aykut Alagöz <br> <small class="text-muted">Teknisyen</small></h4>
                    <p>haydaadddsgg</p>
                </div>
            </div>
        </div>
        <!-- .row -->
        <!-- End Section Content -->
        <!-- Hiring -->
        <!-- End Hiring -->
    </div>
</div>
<!-- End Team -->
