
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- Page header -->
<div class="page-header bg-app bg-inverse">
    <div class="container">
        <!-- Section Content -->
        <div class="p-y-lg text-center">
            <h1 class="display-2">Ekibimizi Tanıyalım</h1>
            <p class="text-muted">Efsane ekibimizle tanışın.</p>
        </div>
        <!-- End Section Content -->
    </div>
</div>
<!-- End Page header -->
<!-- Team -->
<div class="p-y-lg bg-white">
    <div class="container">
        <p class="lead text-center">
           Genç, dinamik, çalışkan ve çiğ etle beslenen kadrosuyla ekibimiz hizmete hazırdır.
        </p>

        <!-- Section Content -->
        <div class="row p-t-lg p-b-xl">
            <div class="col-md-3">
                <div class="p-x-md text-center">
                    <div class="p-x">
                        <img class="img-responsive img-rounded" src="~/" alt="">
                    </div>
                    <h4>İsmail Çadır <br> <small class="text-muted">HA CEO</small></h4>
                    <p>Uzmanlık alanı parmak almak.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-x-md text-center">
                    <div class="p-x">
                        <img class="img-responsive img-rounded" src="assets/img/avatars/avatar2.jpg" alt="">
                    </div>
                    <h4>Furkan Kılıç <br> <small class="text-muted">Genel Müdür</small></h4>
                    <p>Hamsi sever</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-x-md text-center">
                    <div class="p-x">
                        <img class="img-responsive img-rounded" src="assets/img/avatars/avatar3.jpg" alt="">
                    </div>
                    <h4>Mücahit Seba <br> <small class="text-muted">Operatör</small></h4>
                    <p>Sektir lan.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-x-md text-center">
                    <div class="p-x">
                        <img class="img-responsive img-rounded" src="assets/img/avatars/avatar5.jpg" alt="">
                    </div>
                    <h4>Fatih Hançer <br> <small class="text-muted">Operatör</small></h4>
                    <p>Boş yapmayı sever.</p>
                </div>
            </div>
        </div>
        <div class="row p-t-lg p-b-xl">
            <div class="col-md-3">
                <div class="p-x-md text-center">
                    <div class="p-x">
                        <img class="img-responsive img-rounded" src="~/image/Kartvizitler.jpg" alt="">
                    </div>
                    <h4>Oğuzhan Dereci <br> <small class="text-muted">Teknisyen</small></h4>
                    <p>Moruk her işi yapar.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-x-md text-center">
                    <div class="p-x">
                        <img class="img-responsive img-rounded" src="assets/img/avatars/avatar2.jpg" alt="">
                    </div>
                    <h4>Kubilay Yazı <br> <small class="text-muted">Teknisyen</small></h4>
                    <p>Makine parçalarıyla besleniyor.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-x-md text-center">
                    <div class="p-x">
                        <img class="img-responsive img-rounded" src="assets/img/avatars/avatar3.jpg" alt="">
                    </div>
                    <h4>Alexander Hayes <br> <small class="text-muted">Support Ninja</small></h4>
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-x-md text-center">
                    <div class="p-x">
                        <img class="img-responsive img-rounded" src="assets/img/avatars/avatar5.jpg" alt="">
                    </div>
                    <h4>Heather Estrada <br> <small class="text-muted">Support Ninja</small></h4>
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae.</p>
                </div>
            </div>
        </div>
        <!-- .row -->
        <!-- End Section Content -->
        <!-- Hiring -->
        <!-- End Hiring -->
    </div>
</div>
<!-- End Team -->
